<%- include("header.ejs") %>

    <body>
        <div class="navbar navbar-pc">
            <div class="nav nav-left">
                <div class="logo">
                    <a href="/"><img src="./images/Poké_Ball_icon.svg.png" alt="Pokeball icon"></a>
                </div>
                <div class="nav-menu">
                    <div class="menu"><a href="#">Pokedex</a>
                    </div>
                    <div class="menu"><a href="#">Pokedex</a>
                    </div>
                    <div class="menu"><a href="#">Pokedex</a>
                    </div>
                    <div class="menu"><a href="#">Pokedex</a>
                    </div>
                </div>
            </div>
            <div class="nav nav-right">
                <form action="/search" method="post">
                    <input type="text" required name="name" class="search-bar" size="30"
                        placeholder="Enter pokemon name, id..">
                    <button type="submit" class="search-btn">Search</button>
                </form>
            </div>
        </div>
        <div class="navbar navbar-mobile">
            <div class="nav nav-left-mobile">
                <div class="logo logo-mobile">
                    <a href="/"><img src="./images/Poké_Ball_icon.svg.png" alt="Pokeball icon"></a>
                </div>
            </div>
            <div class="nav nav-right-mobile">
                <div class="sm-search-bar">
                    <form action="/search" method="post">
                        <input type="text" required name="name" class="search-bar search-bar-mobile"
                            placeholder="Enter pokemon name, id..">
                        <button type="submit" class="search-btn search-btn-mobile"><svg
                                xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                                fill="#003a70">
                                <path
                                    d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z" />
                            </svg></button>
                    </form>
                </div>
                <div class="svg-nav">
                    <a href="#" onclick=showSearch() class="search-svg"><svg xmlns="http://www.w3.org/2000/svg"
                            height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
                            <path
                                d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z" />
                        </svg></a>

                    <a href="#" onclick=showMenu()><svg xmlns="http://www.w3.org/2000/svg" height="24px"
                            viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
                            <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z" />
                        </svg></a>

                </div>
            </div>

            <div class="menu-bar">
                <a href="#" onclick=exitMenu()><svg xmlns="http://www.w3.org/2000/svg" height="24px"
                        viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
                        <path
                            d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z" />
                    </svg></a>

                <div class="nav-menu-mobile">
                    <div class="menu-mobile" onclick=goABC()><a href="#">Pokedex</a>
                    </div>
                    <div class="menu-mobile" onclick=goABC()><a href="#">Pokedex</a>
                    </div>
                    <div class="menu-mobile" onclick=goABC()><a href="#">Pokedex</a>
                    </div>
                    <div class="menu-mobile" onclick=goABC()><a href="#">Pokedex</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="body-container-padding" onclick=disableSearch()>
            <div class="body-container-adjustmargin">
                <div class="imgheader">
                    <img src="./images/Pokemon-Logo.png" alt="Pokemon">
                </div>
                <% if(locals.information) { %>
                    <div class="data-container">
                        <div class="head-name">
                            <h1>
                                <%= information.name %>
                            </h1>
                        </div>
                        <div class="random-data">
                            <div class="pokeImg">
                                <div class="name">
                                    <p>
                                        <%=information.name%>
                                    </p>
                                </div>
                                <div class="pokeImg-1">
                                    <% if(information.sprites.other['official-artwork'].front_default!==null) { %>
                                        <img src="<%=information.sprites.other['official-artwork'].front_default %>"
                                            alt="Image of <%=
                                        information.name %>">
                                        <% } else { %>
                                            <img src="./images/No_image_available.svg.webp" alt="Sorry, there is no <%=
                                        information.name %> image in data storage">
                                            <% } %>
                                </div>
                                <div class="name">
                                    <p>Shiny <%=information.name%>
                                    </p>
                                </div>
                                <div class="pokeImg-2">
                                    <% if(information.sprites.other['official-artwork'].front_shiny!==null) { %>
                                        <img src="<%=information.sprites.other['official-artwork'].front_shiny %>" alt="Image of shiny<%=
                                        information.name %>">
                                        <% } else { %>
                                            <img src="./images/No_image_available.svg.webp" alt="Sorry, there is no shiny <%=
                                        information.name %> image in data storage">
                                            <% } %>
                                </div>
                            </div>

                            <div class="pokeData">
                                <p>name : <%= data.name %>
                                </p>
                                <p>National No. : <%= %>
                                </p>
                                <p>Generation : <%= %>
                                </p>
                                <p>Type : <%= %>
                                </p>
                                <p>Height : <%= %>
                                </p>
                                <p>Weight : <%= %>
                                </p>
                                <p>Species : <%= %>
                                </p>

                                <div class="base-stat">
                                    <p>HP : <%= information.stats[0].base_stat %>
                                    </p>
                                    <p>Attack : <%= information.stats[1].base_stat %>
                                    </p>
                                    <p>Defense : <%= information.stats[2].base_stat %>
                                    </p>
                                    <p>Sp.Atk : <%= information.stats[3].base_stat %>
                                    </p>
                                    <p>Sp.Def : <%= information.stats[4].base_stat %>
                                    </p>
                                    <p>Speed : <%= information.stats[5].base_stat %>
                                    </p>
                                </div>

                                <div class="evolution-chart">

                                </div>
                            </div>
                        </div>
                        <div class="foot-bg">
                        </div>
                    </div>
                    <div class="random-btn-form">
                        <form action="/random" method="post">
                            <button type="submit" class="random-btn">Random Pokemon!</button>
                        </form>
                    </div>
                    <% } else { %>
                        <div class="random-btn-form">
                            <form action="/random" method="post">
                                <button type="submit" class="random-btn">Random Pokemon!</button>
                            </form>
                        </div>
                        <% } %>
            </div>
        </div>



        <%- include("footer.ejs") %>