<%- include("header.ejs") %>

    <body>
        <div class="navbar navbar-pc">
            <div class="nav nav-left">
                <div class="logo">
                    <a href="/"><img src="./images/Poké_Ball_icon.svg.png" alt="Pokeball icon"></a>
                </div>
                <div class="nav-menu">
                    <div class="menu"><a href="#">Pokedex</a>
                    </div>
                    <div class="menu"><a href="#">Pokedex</a>
                    </div>
                    <div class="menu"><a href="#">Pokedex</a>
                    </div>
                    <div class="menu"><a href="#">Pokedex</a>
                    </div>
                </div>
            </div>
            <div class="nav nav-right">
                <form action="/search" method="post">
                    <input type="text" required name="name" class="search-bar" size="30"
                        placeholder="Enter pokemon name, id..">
                    <button type="submit" class="search-btn">Search</button>
                </form>
            </div>
        </div>
        <div class="navbar navbar-mobile">
            <div class="nav nav-left-mobile">
                <div class="logo logo-mobile">
                    <a href="/"><img src="./images/Poké_Ball_icon.svg.png" alt="Pokeball icon"></a>
                </div>
            </div>
            <div class="nav nav-right-mobile">
                <div class="sm-search-bar">
                    <form action="/search" method="post">
                        <input type="text" required name="name" class="search-bar search-bar-mobile"
                            placeholder="Enter pokemon name, id..">
                        <button type="submit" class="search-btn search-btn-mobile"><svg
                                xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                                fill="#003a70">
                                <path
                                    d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z" />
                            </svg></button>
                    </form>
                </div>
                <div class="svg-nav">
                    <a href="#" onclick=showSearch() class="search-svg"><svg xmlns="http://www.w3.org/2000/svg"
                            height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
                            <path
                                d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z" />
                        </svg></a>

                    <a href="#" onclick=showMenu()><svg xmlns="http://www.w3.org/2000/svg" height="24px"
                            viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
                            <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z" />
                        </svg></a>

                </div>
            </div>

            <div class="menu-bar">
                <a href="#" onclick=exitMenu()><svg xmlns="http://www.w3.org/2000/svg" height="24px"
                        viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
                        <path
                            d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z" />
                    </svg></a>

                <div class="nav-menu-mobile">
                    <div class="menu-mobile" onclick=goABC()><a href="#">Pokedex</a>
                    </div>
                    <div class="menu-mobile" onclick=goABC()><a href="#">Pokedex</a>
                    </div>
                    <div class="menu-mobile" onclick=goABC()><a href="#">Pokedex</a>
                    </div>
                    <div class="menu-mobile" onclick=goABC()><a href="#">Pokedex</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="body-container-padding" onclick=disableSearch()>
            <div class="body-container-adjustmargin">
                <div class="imgheader">
                    <img src="./images/Pokemon-Logo.png" alt="Pokemon">
                </div>
                <% if(locals.information) { %>
                    <div class="data-container">
                        <div class="head-name">
                            <h1>
                                <%= information.name %>
                            </h1>
                        </div>
                        <div class="random-data">
                            <div class="pokeImg">
                                <div class="name">
                                    <p>
                                        <%=data.name%>
                                    </p>
                                </div>
                                <div class="pokeImg-1">
                                    <% if(information.sprites.other['official-artwork'].front_default!==null) { %>
                                        <img src="<%=information.sprites.other['official-artwork'].front_default %>"
                                            alt="Image of <%=
                                        data.name %>">
                                        <% } else { %>
                                            <img src="./images/No_image_available.svg.webp" alt="Sorry, there is no <%=
                                        data.name %> image in data storage">
                                            <% } %>
                                </div>
                                <div class="name">
                                    <p>Shiny <%=data.name%>
                                    </p>
                                </div>
                                <div class="pokeImg-2">
                                    <% if(information.sprites.other['official-artwork'].front_shiny!==null) { %>
                                        <img src="<%=information.sprites.other['official-artwork'].front_shiny %>" alt="Image of shiny<%=
                                        data.name %>">
                                        <% } else { %>
                                            <img src="./images/No_image_available.svg.webp" alt="Sorry, there is no shiny <%=
                                        data.name %> image in data storage">
                                            <% } %>
                                </div>
                            </div>

                            <div class="pokeData">
                                <div class="pokemon-informations">
                                    <p class="text-subhead">Information</p>
                                    <p><span class="bold">name :</span>
                                        <%= data.name %>
                                    </p>
                                    <p><span class="bold">National No. :</span>
                                        <%= data.id %>
                                    </p>
                                    <p><span class="bold">Generation :</span>
                                        <%= data.generation['name'] %>
                                    </p>
                                    <p><span class="bold">Type :</span>
                                        <% information.types.forEach(type=>{ %>
                                            <span class="<%= type.type.name %>">
                                                <%= type.type.name %>
                                            </span>
                                            <% }); %>
                                    </p>
                                    <p><span class="bold">Height :</span>
                                        <%= information.height %> m.
                                    </p>
                                    <p><span class="bold">Weight :</span>
                                        <%= information.weight/10 %> kg.
                                    </p>
                                    <p><span class="bold">Species :</span>
                                        <%= %>
                                    </p>
                                    <p><span class="bold">Ability :</span>
                                        <% information.abilities.forEach((ability, index)=>{ %>
                                            <!-- if the ability is not the last. add , -->
                                            <% if (index===information.abilities.length-1) { %>
                                                <%= ability.ability.name %>
                                                    <% } else { %>
                                                        <%= ability.ability.name %>,
                                                            <% } %>
                                                                <% }); %>
                                    </p>
                                    <p><span class="bold">Shape :</span>
                                        <% if (data.shape !==null) { %>
                                            <%= data.shape['name']%>
                                                <% } else { %>
                                                    -
                                                    <% } %>
                                    </p>
                                </div>
                                <div class="base-stat">
                                    <p class="text-subhead extra-padding">Stats</p>
                                    <p><span class="bold">HP :</span>
                                        <%= information.stats[0].base_stat %>
                                    </p>
                                    <p><span class="bold">Attack :</span>
                                        <%= information.stats[1].base_stat %>
                                    </p>
                                    <p><span class="bold">Defense :</span>
                                        <%= information.stats[2].base_stat %>
                                    </p>
                                    <p><span class="bold">Sp.Atk :</span>
                                        <%= information.stats[3].base_stat %>
                                    </p>
                                    <p><span class="bold">Sp.Def :</span>
                                        <%= information.stats[4].base_stat %>
                                    </p>
                                    <p><span class="bold">Speed :</span>
                                        <%= information.stats[5].base_stat %>
                                    </p>
                                </div>

                                <!-- if there is evolution form , show evolution-chart -->

                                <div class="evolution-chart">
                                    <p class="text-subhead extra-padding">Evolutions</p>
                                    <div class="evo-box-1">
                                        <% if (evo.chain.evolves_to.length !==0) { %>
                                            <div class="<%= evo.chain.species.name %>">
                                                <form action="/search" method="post">
                                                    <button name="name" value="<%= evo.chain.species.name %>"
                                                        class="evo-btn">
                                                        <%= evo.chain.species.name %>
                                                    </button>
                                                </form>

                                            </div>
                                            <div class="evo-box-2">
                                                <% evo.chain.evolves_to.forEach((evo, index)=> { %>
                                                    <div class="evo-box-3">
                                                        <div class="evo-box-4">
                                                            <form action="/search" method="post">
                                                                <button name="name" value="<%= evo.species.name %>"
                                                                    class="evo-btn">
                                                                    <%= evo.species.name %>
                                                                </button>
                                                            </form>

                                                        </div>
                                                        <% if (evo.evolves_to.length !==0) { %>
                                                            <div class="evo-box-5">
                                                                <% evo.evolves_to.forEach((evo1, index)=> {%>
                                                                    <div class="evo-box-6">
                                                                        <form action="/search" method="post">
                                                                            <button name="name"
                                                                                value="<%= evo1.species.name %>"
                                                                                class="evo-btn">
                                                                                <%= evo1.species.name %>
                                                                            </button>
                                                                        </form>
                                                                    </div>
                                                                    <% }); %>
                                                            </div>
                                                            <% } %>
                                                    </div>

                                                    <% }); %>
                                            </div>

                                            <% } else { %>
                                                This pokemon have no evolution.
                                                <% } %>
                                    </div>
                                </div>

                                <div class="languages-names">
                                    <!-- after 1010, pokemons don't have 10 language name, so if there is no 10 name, don't show anything -->
                                    <% if (data.names[10] !==undefined) { %>
                                        <p class="text-subhead extra-padding">Other languages</p>
                                        <p><span class="bold">English :</span>
                                            <%= data.names[8].name%>
                                        </p>
                                        <p><span class="bold">Japanese :</span>
                                            <%= data.names[9].name%> (<%= data.names[1].name%>)
                                        </p>
                                        <p><span class="bold">German :</span>
                                            <%= data.names[5].name%>
                                        </p>
                                        <p><span class="bold">French :</span>
                                            <%= data.names[4].name%>
                                        </p>
                                        <p><span class="bold">Italian :</span>
                                            <%= data.names[7].name%>
                                        </p>
                                        <p><span class="bold">Spanish :</span>
                                            <%= data.names[6].name%>
                                        </p>
                                        <p><span class="bold">Korean :</span>
                                            <%= data.names[2].name%>
                                        </p>
                                        <p><span class="bold">Chinese (Simplified) :</span>
                                            <%= data.names[10].name%>
                                        </p>
                                        <p><span class="bold">Chinese (Traditional) :</span>
                                            <%= data.names[3].name%>
                                        </p>
                                        <% } %>
                                </div>
                            </div>
                        </div>
                        <div class="foot-bg">
                        </div>
                    </div>
                    <div class="random-btn-form">
                        <form action="/random" method="post">
                            <button type="submit" class="random-btn">Random Pokemon!</button>
                        </form>
                    </div>
                    <% } else { %>
                        <div class="random-btn-form">
                            <form action="/random" method="post">
                                <button type="submit" class="random-btn">Random Pokemon!</button>
                            </form>
                        </div>
                        <% } %>
            </div>
        </div>



        <%- include("footer.ejs") %>